.box-columns {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: whitesmoke;
}
.progress-description {
    text-align: center;
    font-size: 30px;
    color: white;

    li {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
