.team-title {
    color: whitesmoke;
    margin-bottom: 20px;
}

tspan {
    fill: rgba(255, 255, 255, 0.86);
}

.choice-bar {
    margin-top: 15px;
}

.stats-container {
    text-align: center;
    align-content: center;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 50px;
    height: 180px;
    width: 180px;
    display: inline;
}

.trend-title {
    font-family: "Foldit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 70px;
}
